node_modules/
data.db
*.db-*
.no_autoseed
public/uploads/notes/*
public/uploads/pdf_cache/*
public/uploads/avatars/*
!public/uploads/notes/.gitkeep
!public/uploads/pdf_cache/.gitkeep
!public/uploads/avatars/.gitkeepbackup/*
!backup/.gitkeep
